@import 'student-image';

#student-page-container {
    top: 0;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    // grid-gap: 10em;
    // grid-template-areas:
    // "image text";
    // grid-template-columns: 3fr 1fr;
}

#student-name {
    font-size: 1.8vw;
    text-align: right;
    font-family: "Sintesi Regular", sans-serif;
}

#student-text-container{
    flex-shrink: 1;
    width: 23%;
    position: fixed;
    right: 2%;
    grid-area: text;
    margin-top: 10vh;
    text-align: justify;
    font-size: 1.2vw;
    white-space: pre-line;
}


#back-button a{
    color: rgb(225, 90, 90);
    font-size: 3em;
    position: fixed;
    left: 10px;
    top: 10px;
    text-decoration: none;
}

#back-button a:hover{
    font-size: 3.5em;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 1400px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 1400px),
only screen and (     -o-min-device-pixel-ratio: 2/1)      and (max-width: 1400px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 1400px),
only screen and (                min-resolution: 192dpi)      and (max-width: 1400px),
only screen and (                min-resolution: 2dppx)       and (max-width: 1400px),
only screen and (max-width: 1200px)
 {
    #student-page-container {
        display: inline;
    }

    #student-name {
        font-size: 3.2vw;
        text-align: center;
    }

    #student-text-container{
        position: relative;
        width: 80%;
        margin: 0 auto;
        margin-top: 0;
        font-size: 2vw;
    }
  }