#student-image{
    width:100%;
}

#student-image{
    grid-area: img;
}

#student-image-container{
    position: relative;
    margin-right: 25%;
    // pointer-events: all;
}

#student-image.hovered{
    -webkit-filter: grayscale(100%) brightness(150%) contrast(50%);
    -moz-filter: grayscale(100%) brightness(150%) contrast(50%);
    filter: grayscale(100%) brightness(150%) contrast(50%);
    transition: all 0.5s ease;
}

#student-image .color{

}

#feature-points-container {
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    // pointer-events: none;
}

#feature-point-image {
    // pointer-events: all;
    width: 2vw;
    height:2vw;
    border-radius: 50%;
    background-color: rgb(226, 74, 74);
    opacity: 0.5;
    animation: opacity-glow 5s ease-in-out alternate infinite;
}

.tooltip{
    max-width: 15vw !important;
    font-size: 1vw !important;
}

@keyframes opacity-glow {
    0% {
      opacity: 0.5;
      background-color: rgb(226, 74, 74);
    }
    50% {
      opacity: 0.8;
      background-color: rgb(255, 109, 109);
    }
    100% {
      opacity: 0.5;
      background-color: rgb(226, 74, 74);
    }
  }

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 1200px),
only screen and (max-width: 1200px)
 {
    #feature-point-image {
        width: 4vw;
    }
    #student-image-container{
        position: relative;
        margin-right: 0%;
    }
 }