@import 'student-image';

#student-page-container {
    position: absolute;
    top: 0;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 0;
    padding-top: 0;
    display: grid;
    grid-gap: 10em;
    grid-template-areas:
    " image text";
    grid-template-columns: 2fr 2fr;
}

#student-text-container{
}